.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}

.subHeaderSection {
  margin-left: 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.subHeaderSection:hover {
  color: rgba(14, 102, 245, 0.5);

}

.homeImg {
  background-image: url('C:\Users\dater\Downloads/7k9szxao.png');
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;

}

.text {
  padding-top: 21%;
  /* padding-bottom: 30px; */
  margin-left: 80px;

}

.homeImgText {
  font-size: 28px;
  color: white;
  font-weight: 600;

}

.backgroundColor {
  /* padding:50px 70px; */
  background-color: #dce3f080;
}

.paragraph {
  padding: 50px 70px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.sectionWidth {
  width: 50%;
}

.mobileImg {
  display: flex;
  align-items: center;
  padding: 30px 70px;
  font-size: 18px;
  line-height: 30px;
  /* margin-right: 20px; */
  gap: 8px;


}

.mobileMarket {
  display: flex;
  align-items: center;
  padding: 20px 70px;
  font-size: 17px;
  line-height: 30px;
  /* margin-left:20px; */
  /* gap: 8px; */

}

.satisfiedCustomer {
  display: flex;
  align-items: center;
  padding: 20px 70px;
  font-size: 19px;
  line-height: 30px;
  /* margin-right:20px; */
  gap: 15px;

}

.imgBorder {
  border-radius: 10px;
}

/* Patner With Us */
.partnerWithUsBox {
  border: none;
  border-radius: 10px;
  background-color: white;
  /* margin:20px 90px; */
  width: 85%;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

.partnerWithUs {
  color: rgb(31 41 55);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0px;
}

.partnerWithUsPara {
  text-align: center;
  font-size: 20px;
  padding: 0px 40px;
  margin-bottom: 30px;
}

.extent {
  color: rgb(75 85 99);
}

/* About us */
.aboutUs {
  color: rgb(31 41 55);
  font-size: 30px;
  text-align: center;
  padding: 30px 0px;
}

.aboutUsBox {
  width: 80%;
  margin: auto;
  display: flex;
  /* gap:80px; */
  justify-content: space-between;
}

/* Founder Information */
.founderBorder {
  border: none;
  width: 30%;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);


}

.founderImage {
  border-radius: 2000px;
  width: 200px;
  height: 200px;
  margin-top: 20px;

}

.founderText {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  padding: 0px 20px;
}

.founderName {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Our Misson */
.ourMissonBorder {
  border: none;
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  margin-top: 85px;

}

.ourMission {
  color: rgb(31 41 55);
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 30px;

}

.ourMissionInfo {
  font-size: 18px;
  width: 60%;
  margin: auto;
  text-align: center;
  color: rgb(55 65 81);
  line-height: 28px;
  margin-bottom: 35px;
  font-weight: 400;

}

/* Our Values */
.ourValues {
  color: rgb(31 41 55);
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;

}

.values {
  width: 100%;
  /* margin: auto; */
  text-align: center;
}

.qualityFirst {
  width: 82%;
  font-size: 20px;
  color: rgb(31 41 55);
  line-height: 45px;

}

.integrityInBusiness {
  width: 86%;
  font-size: 20px;
  color: rgb(31 41 55);
  line-height: 45px;

}

.partnershipFocused {
  width: 72%;
  font-size: 20px;
  color: rgb(31 41 55);
  line-height: 45px;
padding-bottom: 40px;
}

.valuesName {
  font-size: 20px;
  color: black;
}

/* Footer Section */
.footerSection {
  border: none;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  background-color: white;
  margin-top: 80px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.contactUs{
  color: rgb(31 41 55);
  font-weight: 600;
  text-align: center;
  font-size: 33px;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 30px;

}
.contactUsInfo{
  font-size: 18px;
  width: 58%;
  margin: auto;
  text-align: center;
  color: rgb(55 65 81);
  line-height: 28px;
  margin-bottom: 35px;
  font-weight: 400;

}
/* Separated three parts */
.footerThreeParts{
  display:flex;
  justify-content: space-evenly;
}
/* Office Address */
.addressBox{
  border: none;
  width: 29%;
  background-color: white;
  border-radius: 15px;
  background-color: rgb(249,250,251);
  /* text-align: center; */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);


}
.officeAdress{
  font-size: 22px;
  font-weight: 500;
  color: black;
  margin:20px 30px;
}
.threeExtent{
    color: rgb(55 65 81);
    font-size: 18px;
    margin:20px 30px;
    font-weight: 400;

}
.contactUs{
  font-size: 22px;
  font-weight: 500;
  color: black;
  margin: 20px 30px;
}
.contactUsInfo{
  color: rgb(55 65 81);
    font-size: 18px;
    margin:20px 30px;
    font-weight: 400;

}
.businessHours{
  font-size: 22px;
  font-weight: 500;
  color: black;
  margin: 20px 30px;
}
.timePeriod{
  color: rgb(55 65 81);
    font-size: 18px;
    margin:20px 30px;
    font-weight: 400;

}